/*Elements inside container are centered*/
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/**/
.gallery-container {
  border: 3px solid darkgreen;
  min-height: 80vh;
  margin-top: 10vh;
  width: 80%;
  min-width: 400px;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.thumbnail-container {
  margin: 10%;
}
.thumbnail {
  max-width: 300px;
  height: auto;
  border: 3px solid darkgreen;
}
/*Highlights that clickability of thumbnail*/
.thumbnail:hover {
  opacity: 0.9;
}

/*Highlights that element is clickable*/
.clickable:hover {
  cursor: pointer;
}

.category-header {
  color: darkgreen;
}

.background {
  /*background: url(..resources/images/background.jpg)*/
  background-color: darkseagreen;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: auto;
}

.white-background {
  background-color: white;
}
